<header class="navbar navbar-expand py-3 mb-4 border-bottom">
	<div class="container-lg">

		<a class="navbar-brand" routerLink="/">
			<img src="assets/logo.svg" alt="Logo" width="48" height="48">
		</a>

		<button class="navbar-toggler" 
						type="button"
						data-bs-toggle="collapse" 
						data-bs-target="#navbarNavDropdown" 
						aria-controls="navbarNavDropdown" 
						aria-expanded="false" 
						aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
			<nav class="nav">
				<a class="nav-link link-dark-1" routerLink="/">Explore</a>
				<a class="nav-link link-dark-1" routerLink="/portal">Portal</a>
				<a class="nav-link disabled" routerLink="/sellingList">Selling List</a>
				<a class="nav-link disabled" routerLink="/tutorial">Tutorial</a>
			</nav>
		</div>

		<div class="dropdown">
			<img class="dropdown-toggle ms-3" 
					 role="button" data-bs-toggle="dropdown" aria-expanded="false"
					 src="assets/user_icon.png" alt="user profile photo" width="48px">
			<ul class="dropdown-menu dropdown-menu-end">
				<li><a class="dropdown-item" (click)="logout()">Logout</a></li>
			</ul>
		</div>

	</div>
</header>
